body {
  font-family: sans-serif;
}

.hide {
  display: none !important;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

header {
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
}

.list-gen-info {
  display: flex;
  align-items: center;
}

.list-gen-info > li {
  margin: 0 1rem;
}

#btn-edit-resume {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

main {
  padding: 1rem;
}

.div-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding: 1.5rem 0.75rem;
  border: 2px solid black;
  border-radius: 4px;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.form-header > h2 {
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

#form-gen-info > label, #form-education > label, #form-experience > label {
  font-size: 1.15rem;
  font-weight: 500;
}

#form-gen-info > input, #form-education > input, #form-experience > input, #experience-achievement {
  margin-bottom: 1rem;
  padding: .75rem .5rem;
  border-radius: 4px;
}

#btn-gen-info, #btn-education-form, #btn-experience-submit, #btn-achievement-submit {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 0;
  border-radius: 4px;
  border: 2px solid transparent;
  background-color: pink;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#btn-gen-info:hover, #btn-education-form:hover, #btn-experience-submit:hover, #btn-achievement-submit:hover {
  border-color: pink;
  background-color: #FFFFFF;
}

.div-education > h2, #form-education > h2, #div-experience > h2, #form-experience > h2 {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

#div-form-gen, .div-education, #div-experience {
  margin-bottom: 3rem;
}

.list-item-education {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.list-item-education > div {
  display: flex;
  justify-content: space-between;
  flex: 1 100%;
}

.list-item-education > span {
  display: block;
  flex: 1 100%;
}

.list-item-education > button, .btn-edit-experience {
  display: block;
  width: fit-content;
  margin: 0 0 0 auto;
  padding: .25rem 1rem;
  background-color: pink;
  border-radius: 4px;
}

.btn-add {
  display: block;
  margin: 1rem auto;
  padding: .5rem 1rem;
  border: 2px solid black;
  font-weight: 500;
}

.btn-add:hover {
  border-color: pink;
}

.list-item-experience {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-item-experience > h3, .list-item-experience > span:nth-of-type(1) {
  flex: 2 50%;
  margin-bottom: 1rem;
}

.list-item-experience > span:nth-of-type(2), .list-item-experience > span:nth-of-type(3) {
  margin-bottom: 1rem;
}

.list-item-experience > h3 {
  order: 1;
}

.list-item-experience > span:nth-of-type(1) {
  order: 3;
}

.list-item-experience > span:nth-of-type(2) {
  order: 2;
}

.list-item-experience > span:nth-of-type(3) {
  order: 4;
}

.list-item-experience > ul {
  order: 5;
}

.list-item-experience > button {
  order: 6;
}

.list-item-experience > ul {
  flex: 1 100%;
}

#fieldset-achievement {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 2px solid black;
  margin-bottom: 1rem;
}

#fieldset-achievement > legend {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

#form-list-achievements > li {
  list-style-type: disc;
  margin: 0 0 .5rem 1rem;
}

button:hover {
  cursor: pointer;
}